$layout-tab-content-height: calc(var(--layout-tab-height) - 6px);

:deep(.ant-tabs-content-holder) {
  display: none;
}

.ant-tabs {
  margin-bottom: 0;
  height: var(--layout-tab-height);
  background-color: var(--common-bg-color);

  :deep(.ant-tabs-nav) {
    .ant-tabs-nav-wrap {
      height: $layout-tab-content-height;
    }

    .ant-tabs-nav-operations {
      display: none;
    }

    .ant-tabs-extra-content {
      height: 100%;
    }

    .ant-tabs-tab-remove {
      z-index: 10;
    }
  }
}

.google-mode {
  &.ant-tabs {
    padding-right: 10px;

    :deep(.ant-tabs-nav) {
      position: static;
      margin: 0;

      .ant-tabs-nav-wrap {
        margin-top: 6px;
      }

      .ant-tabs-nav-list {
        gap: 3px;
        padding-left: 16px;

        .ant-tabs-tab {
          position: relative;
          padding-right: 16px;
          padding-left: 16px;
          height: $layout-tab-content-height;
          border: unset;
          background-color: var(--common-bg-color);
          transition: none;
          cursor: default;

          &:not(.ant-tabs-tab-active) {
            &:hover {
              color: unset;
              background-color: var(--control-item-bg-hover);

              & + .ant-tabs-tab {
                &:not(.ant-tabs-tab-active) {
                  &::before {
                    display: none;
                  }
                }
              }

              &::before {
                display: none;
              }
            }
          }

          & + .ant-tabs-tab {
            &:not(.ant-tabs-tab-active) {
              &::before {
                position: absolute;
                left: -6px;
                font-weight: bold;
                opacity: 0.2;
                content: '|';
              }
            }
          }
        }

        .ant-tabs-tab-active {
          background-color: var(--color-primary-bg);

          .ant-tabs-tab-remove {
            color: var(--theme-color);
          }

          & + .ant-tabs-tab {
            &::before {
              display: none;
            }
          }

          &::before,
          &::after {
            position: absolute;
            bottom: 0;
            z-index: 99;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            background-color: transparent;
            box-shadow: 0 0 0 40px var(--color-primary-bg);
            content: '';
          }

          &::before {
            left: -22px;
            clip-path: inset(50% -12px 0 50%);
          }

          &::after {
            right: -22px;
            clip-path: inset(50% 50% 0 -12px);
          }
        }
      }
    }
  }
}

.card-mode {
  &.ant-tabs {
    padding: 3px 10px 0 0;

    :deep(.ant-tabs-nav) {
      &::before {
        display: none;
      }

      .ant-tabs-nav-list {
        padding-left: 8px;
      }

      .ant-tabs-tab {
        border-radius: 6px;
        background-color: var(--common-bg-color);
        transition: none;

        &.ant-tabs-tab-active {
          border: none;
          background-color: var(--color-primary-bg);
        }

        & + .ant-tabs-tab {
          margin-left: 8px !important;
        }
      }
    }
  }
}
